.panel-heading .loading {
  width: 20px;
  height: 20px;
  float: right;
}
body.fullscreen,
.fullscreen .container {
  width:100% 
}
.fullscreen .form-horizontal,
.fullscreen .navbar,
.fullscreen .btn {
  display: none;
}
.navbar-default {
  background-color: #014da1;
  color: #FFF;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover {
  color: #FFF;
  font-weight: bold;
}
.btn-primary {
  background-color: #014da1;
}

tr.row-in { 
  background: #cad7e6;
}
.table-hover>tbody>tr:hover {
  background-color: #91ff4c;
}

tr.not-tested,
.table-hover > tbody > tr.not-tested:hover {
	background: #fffdb2;
}
tr.fail,
.table-hover > tbody > tr.fail:hover {
	background: #ff9a9a;
}
input[type="radio"].form-control, 
input[type="checkbox"].form-control {
	box-shadow: 0 0 0 0;
}
.form-control { padding: 6px; }
.highcharts-title {  text-align:center; }